.todoItem{
    display: flex;
    gap: 15px;
    background-color: #fff8f0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    width: 600px;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 15px 5px;
    font-size: 20px;
}

.todoItem button{
    border: none;
    background-color: #fff8f0;
    cursor: pointer;
    color: red;
    font-size: 20px;
    font-weight: bold;
}